---
import { Prices } from "../../components/Prices";
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <main class="responsive">
        <h1>Hello World!</h1>
        <Prices />
    </main>
</Layout>