---
import Layout from "../../components/Layout.astro";
import { Prices } from "../../components/Prices";
---
<Layout>
    <main class="responsive">
        <h1>Hello World!</h1>
        <Prices />
    </main>
</Layout>