.card-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vg-card {
    width: 100%;
    border-radius: 0;
}

.two-rounded-corners {
    border-radius: 2rem 0 2rem 0 !important;
}

.tinier-space {
    gap: 4px !important;
}

body {
    transition: background-color 1000ms linear;
}