---
const today = new Date();
---
<footer style="margin-top: 20px">
	<span>
			This website is an experiment and a passion project. I am not affiliated nor associated with Bushiroad. I hope this site is beneficial to you and if you wish to contribute, please reach out to me!
	</span>
</footer>
