---
import {SITE_TITLE} from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
    <nav>
        <button class="circle transparent">
            <i>arrow_back</i>
        </button>
        <h6 class="max"><a href="/">{SITE_TITLE}</a></h6>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/decks">Decks</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="social-links">

        </div>
        <div class="settings">
            <button class="circle transparent" onclick="ui('mode', 'light')">
                <i>light_mode</i>
            </button>
            <button class="circle transparent" onclick="ui('mode', 'dark')">
                <i>dark_mode</i>
            </button>
            <button class="circle transparent" onclick="ui('mode', 'system')">
                <i>auto_mode</i>
            </button>
        </div>
    </nav>
</header>
<style>
    .internal-links {
        gap: 1rem;
        display: flex;
    }
</style>
<script>
    import "beercss";
    import "material-dynamic-colors";
</script>