---
import {REPO_NAME} from "../consts.ts";
import {ModeToggle} from "./ModeToggle.tsx";

---
<header class="primary-container">
    <nav>
        <h6 class="max"><a href={`/${REPO_NAME}`}>VG Rideline Infographics</a></h6>
        <a href={`/${REPO_NAME}/decks`}>
            <button>
                <i>playing_cards</i>
                Decks
            </button>
        </a>
        <!--TODO Figure out why this tanks performance-->
        <ModeToggle client:only />
    </nav>
</header>
