---
import HeaderLink from './HeaderLink.astro';
import ModeToggle from './ModeToggle.astro';
import {REPO_NAME} from "../consts.ts";
---
<header class="primary-container">
    <nav>
        <h6 class="max"><a href={`/${REPO_NAME}`}>VG Rideline Infographics</a></h6>
        <a href={`/${REPO_NAME}/decks`}>
            <button >
                <i>playing_cards</i>
                Decks
            </button>
        </a>
    </nav></header>
