---
import {getCollection} from 'astro:content';
import {SITE_DESCRIPTION, SITE_TITLE} from '../../consts';
import DeckLink from "../../components/DeckLink.astro";
import Layout from "../../components/Layout.astro";

const posts = (await getCollection('decks'))
---
<Layout>
    <main class="responsive">
        {["Dragon Empire", "Keter Sanctuary", "Dark States", "Stoicheia", "Brandt Gate", "Lyrical Monasterio"].map(nation =>
                <section>
                    <h4>{nation}</h4>
                    <div class="grid">
                        {posts.filter(post => post.data.nation === nation).map(post =>
                                <div class="s3 l2">
                                    <DeckLink title={post.data.title} art={post.data['card-art']} id={post.id}/>
                                </div>)}
                    </div>
                </section>)}

    </main>
</Layout>